<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255067452981-ovopo5j91089hempt4acohhvf4l2e3ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255067452981-ovopo5j91089hempt4acohhvf4l2e3ep</string>
	<key>API_KEY</key>
	<string>AIzaSyCX2W64pgVUMCOmhlKMZ1DPsOaQEWfxyHA</string>
	<key>GCM_SENDER_ID</key>
	<string>255067452981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.FoodStore</string>
	<key>PROJECT_ID</key>
	<string>foodstore-67199</string>
	<key>STORAGE_BUCKET</key>
	<string>foodstore-67199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255067452981:ios:c1f446c54f2cf59354637c</string>
</dict>
</plist>